# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
ENV/
env/
.venv/

# Django database
db.sqlite3

# Django migrations
**/migrations/
!*/migrations/__init__.py

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
